.main{
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5;
    overflow: hidden;
}
.nev{
    height: 40px;
    font-family:cursive;
    font-size: 1.2rem;
    color: black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

.unduredu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin-left:100px ;
}

.unduredu button{
    width: max-content;
    padding: 5px 7px;
    margin: 3px;
    cursor: pointer;
}

.dawonlod{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    margin-left: 20px;
}

.btn-d{
    width: 150px;
    padding: 5px 20px;
    border: 1px solid blue;
    font-size: 1.1rem;
    font-family: cursive;
    cursor: pointer;
}
#r-set{
    margin: 0px 20px 0px 10px;
    background-color: transparent;
    color: blue;
    transition: background-color 0.5s;
}
#r-set:hover{
    background-color: blue;
    color: #fff;
}
#d-lod{
    background-color: blue;
    color: #fff;
    transition: background-color 0.5s;
}
#display-box{
    width: 40px;
    border: 1px solid black;
    height: 100%;
    text-align: center;
}


/* box-1 */
.box-1{
    background-color: #fff;
    width: 25%;
    display: flex;
    align-items:baseline;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding-top: 20px;
}

.e-btn{
    width: 150px;
    height: 150px;
    margin: 5px;
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: 1px 2px 2px black;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.e-btn:hover{
    /* background-color: #c2c2c2; */
    border: 2px solid blue;
    box-shadow: 1px 2px 2px rgb(90, 153, 255);
}
.e-btn img{
    width: 100%;
    height: 100%;
}
.effect-class{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.box-1-cls{
    font-family: cursive;
}

/* box-2 */
.box-2{
    width: 50%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.image{
    height: 90%;
    width: 90%;
    border: 1px solid #c2c2c2;
    background-color:#fff;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    overflow-y: hidden;
}
.image img{
    width: 100%;
    background-color: transparent;
}

/* box-3 */
.box-3{
    /* border: 2px solid red;*/
    text-align: center;
    width: 25%;
    height: 100%;
    background-color: #fff;
}
.box-3 table{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-direction: column;
}
/* .box-3 table tr td{
} */
.box-3 table tr td{
    border-collapse: collapse;
    /* border: 1px solid red; */
    height: 12vh;
    width: 100%;
}
#td-1 input{
    height: 30px;
}
table input{
    text-align: center;
}
/* #td-2{
}
#td-3{
    background-color: #189AB4;
} */
#td-4 button{
    width: 70%;
    height: 40px;
    border-radius: 20px;
    border: 2px solid blue;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
}
#td-4 button:active{
    background-color: blue;
    color: #fff;
}

/* rotate */
#rotate{
    border-radius: 5px;
    height: 20px;
}
.stb-btn{
    font-size: 1rem;
    background: #6cb3ed;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    /* box-shadow: 5px 5px 5px #eee; */
    text-shadow: none;
    padding: 5px 10px;
    outline: none;
    border: none;
}
.stb-btn:hover{
    background: #016ABC;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    /* box-shadow: 5px 5px 5px #eee; */
    text-shadow: none;
    cursor: pointer;
}
/* crop */
.coordinate{
    padding: 3px;
    width: 40px;
}
/* blur */
#blur{
    color: blue;
    width: 80%;
}

#text-area{
    border: 1px solid black;
    background-color: #6cb3ed;
    width: 100%;
    overflow-y:scroll;
    font-size: 1.2rem;
    height: 80%;
}
