<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Editing</title>
    <link rel="stylesheet" href="{{url_for('static',filename='image_editor.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
    <div class="nev">
        <div class="logo">PhotoEditor</div>
        <form action="/editor" method="post">
            <div class="unduredu">
                <button type="submit" name="effect" value="undu"><i class="fa-solid fa-rotate-left"></i></button>
                <div id="display-box">{{unducount}}/{{total}}</div>
                <button type="submit" name="effect" value="redu"><i class="fa-solid fa-rotate-right"></i></button>
            </div>
        </form>
                
        <div class="dawonlod">
            <form action="\editor" method="post">
                <button type="submit" id="r-set" class="btn-d" name="effect" value="reset">Reset</button>
            </form>
            <form action="{{ url_for('download') }}" method="get">
                <input type="hidden" name="filename" value="edited_image.jpg">
                <button type="submit" id="d-lod" class="btn-d">Download</button>
            </form>
        </div>
    </div>
    <div class="main">
        
        <!-- box-1 -->
        <div class="box-1">
            <!-- filter-effect -->
            <h2 class="box-1-cls">filters</h2>
            <form action="/editor" method="post">
                <input type='hidden' name="effect" value='filter'>
                <div class="effect-class">
                    <button value="SMOOTH_MORE" name="effect_option" class="e-btn"><img src="{{ url_for('static', filename='SMOOTH_MORE.png') }}" alt="Smooth More Image"></button>
                    <button value="SMOOTH" name="effect_option" class="e-btn"><img src="{{ url_for('static', filename='SMOOTH.png') }}" alt="Smooth Image"></button>
                    <button value="CONTOUR" name="effect_option" class="e-btn"><img src="{{ url_for('static', filename='CONTOUR.png') }}" alt="Contour Image"></button>
                    <button value="EDGE_ENHANCE" name="effect_option" class="e-btn"><img src="{{ url_for('static', filename='EDGE_ENHANCE.png') }}" alt="Edge Enhance Image"></button>
                    <button value="EDGE_ENHANCE_MORE" name="effect_option" class="e-btn"><img src="{{ url_for('static', filename='EDGE_ENHANCE_MORE.png') }}" alt="Edge Enhance More Image"></button>
                    <button value="EMBOSS" name="effect_option" class="e-btn"><img src="{{ url_for('static', filename='EMBOSS.png') }}" alt="Emboss Image"></button>
                    <button value="FIND_EDGES" name="effect_option" class="e-btn"><img src="{{ url_for('static', filename='FIND_EDGES.png') }}" alt="Find Edges Image"></button>
                    <button value="SHARPEN" name="effect_option" class="e-btn"><img src="{{ url_for('static', filename='SHARPEN.png') }}" alt="Sharpen Image"></button>
                </div>
            </form>
        </div>
        <!-- box-2 -->
        <div class="box-2">
            <div class="image">
                    {% if image_data %}
                        <img src="data:image/jpeg;base64,{{ image_data }}" alt="Processed Image" id="main_img">
                    {% endif %}
            </div>
        </div>

        <!-- box-3 -->
        <div class="box-3">
            <table>
                <thead>
                    <th><h2 class="box-1-cls">User Console</h2></th>
                </thead>
                <tbody>
                    <tr>
                        <td id="td-1">
                            <form action="/editor" method="post">
                                <input type="hidden" name="effect" value="rotate">
                                <!-- <label for="rotate">Rotate</label>
                                <br> -->
                                <input type="number" name="rotate" id="rotate">
                                <button type="submit" class="stb-btn">Rotate</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td id="td-2">
                            <!-- blur -->
                            <form action="/editor" method="post">
                                <input type='hidden' name="effect" value='blur'>
                                <!-- <label for="blur">Blur:</label> -->
                                0
                                <input type="range" name="blur" min="0" max="100" value="{{ blue_amount }}" id="blur">100
                                <input type="submit" class="stb-btn"><br>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td id="td-3">
                            <!-- Crop form -->
                            <form action="/editor" method="post">
                                <input type='hidden' name="effect" value='crop'>
                                <label for="x-coordinate">width:</label>
                                <input type="number" name="x" id="x-coordinate" class="coordinate" min="0">
                                <label for="y-coordinate">Height:</label>
                                <input type="number" name="y" id="y-coordinate" class="coordinate" min="0">
                                <label for="crop_size">Crop Size:</label>
                                <input type="number" name="crop_size" id="crop_size" value="crop" class="coordinate" min="0"><br><br>
                                <button type="submit" class="stb-btn">Crop</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td id="td-4">
                            <!-- Object detection form -->
                            <form action="\editor" method="post">
                                <input type="hidden" name="effect" value="detect_faces">
                                <button type="submit">Faces Detect</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td id="td-4">
                            <!-- Text Extraction from image -->
                            <form action="\editor" method="post">
                                <input type="hidden" name="effect" value="extract_text">
                                <button type="submit">Extracted Text</button>
                            </form>
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    <ul class="flash">
                                        {% for message in messages %}
                                            <li>{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endwith %}
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
</body>
</html>
